{% extends 'base.html' %}

{% block title_block %} {{ user }} {% endblock %}

{% block body %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <h1>My Blogs</h1>
    {% for blog in user.post_author.all %}
        <div class="blog-container">
            <div class="blog-content">
                <h3>{{ blog.blog_title }}</h3>
                <h3>{{ blog.publish_date }}</h3>
                <p>{{ blog.blog_content|linebreaks }}</p>
                <div class="center-links">
                    <a href="{% url 'App_Blog:blog_details' slug=blog.slug %}" class="btn btn-read-more">Read More</a>
                    <a href="{% url 'App_Blog:edit_blog' pk=blog.pk %}" class="btn btn-edit">Edit</a>
                </div>
            </div>
            <div class="blog-image">
                <img src="{{ blog.blog_image.url }}" width="100%" alt="{{ blog.blog_title }}">
            </div>
        </div>
        <hr>
    {% endfor %}

{% endblock %}
 