{% extends 'base.html' %}

{% block title_block %} Create a new account {% endblock %}
{% block body %}

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% if registered %}
        <div class="alert alert-success">
            Account Created Successfully <a href="{% url 'App_Login:login' %}">Login Here</a>
        </div>
    {% else %}
        <div class="center">
            <h1>Create a new account:</h1>
            <form method="POST">
                {{ form.as_p }}
                {% csrf_token %}
                <div class="text-center"> <!-- Add text-center class for centering -->
                    <button type="submit" class="btn btn-success btn-sm">Create Account</button>
                </div>
                <br>
                <p>Already have an account? <a href="{% url 'App_Login:login' %}">Login Here</a></p>
            </form>
        </div>
    {% endif %}
{% endblock %}
